[submodule "mkdocs-govuk"]
	path = mkdocs-govuk
	url = ../mkdocs-govuk.git
	branch = match-techdocs-template
[submodule "linkml"]
	path = linkml
	url = ../linkml.git
	branch = allow-no-metadata-in-json-schema
