name: 'Build and test'

on:
  workflow_call:
  workflow_dispatch:
  # not running this on main as it's pulled in by the deploy workflow anyway
  # push:
  #   branches:
  #     - main
  pull_request:

permissions:
  contents: read

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: actions/setup-node@v3
        with:
          node-version: 16.13.x
          cache: npm
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - run: pipx install poetry
      - uses: actions/setup-python@v4
        with:
          cache: 'poetry'

      - name: Install Global JS dependencies
        run: npm install -g ajv-cli@5.0.0 ajv-formats@2.1.1

      - name: Install JS
        run: npm ci

      - name: Install Python
        run: poetry install

      - name: Build
        run: scripts/build

      - name: Run all tests
        run: scripts/test

      - name: Generate TypeScript types
        working-directory: scripts
        run: ./generate_ts_types.sh

      - name: Generate TypeScript schemas
        working-directory: scripts
        run: ./generate_ts_schemas.sh

      - name: Generate Java types
        working-directory: scripts
        run: ./generate_java_types.sh

      - name: Upload site
        uses: actions/upload-artifact@v4
        with:
          name: site
          path: site
          retention-days: 1

      - name: Upload JSON Schemas
        uses: actions/upload-artifact@v4
        with:
          name: json-schemas
          path: v1/json-schemas
          retention-days: 1

      - name: Upload combined schema
        uses: actions/upload-artifact@v4
        with:
          name: combined-schema
          path: code-generators/java-types/schemas
          retention-days: 1

      - name: Upload TypeScript types
        uses: actions/upload-artifact@v4
        with:
          name: ts-types
          path: code-generators/typescript-types/dist
          retention-days: 1

      - name: Upload TypeScript schemas
        uses: actions/upload-artifact@v4
        with:
          name: ts-schemas
          path: code-generators/typescript-schemas/dist
          retention-days: 1
